# Py
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so

# Envs and files
venv/
.env/
.venv/
env/
.env.*
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Test artifacts
.pytest_cache/
.coverage
htmlcov/

# PosrgreSQL dumps
*.dump
*.bak
backups/
exports/

# K8s local files
*.kubeconfig
 
# OS files
.DS_Store
Thumbs.db
